footer {
    background-color: #d9d9d9;
    padding: 88px 90px 0px 90px;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 100px 0px;
}

.left h3 {
    font-size: 1.8rem;
}

.left button {
    margin-top: 30px;
    width: 240px;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #710000;
    color: #d9d9d9;
    box-shadow: 5px 5px 10px #000000;
    font-size: 1.2rem;
    transition: 0.3s;
}

.left button:hover {
    transform: scale(1.1);
}

.right h3 {
    font-size: 1.8rem;
}

.right img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
}

.rights p {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {

    footer {
        padding: 0;
        padding: 58px 20px;
    }

    .contents {
        flex-direction: column;
        padding: 0px 0px 20px 0px;
    }

    .left h3 {
        font-size: 1.5rem;
    }

    .left button {
        width: 180px;
        font-size: 1.1rem;
        margin: 0;
        margin-top: 20px;
    }

    .left button:hover {
        transform: none;
    }

    .right h3 {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .right img {
        margin: 0;
        margin-top: 10px;
    }

    .rights p {
        display: none;
    }

}